<li class="folder">
  <a href="#" class="submenu">Sprint</a>
  <ul>
	<% Sprint.all.each do |s| %>
	  <li><%= context_menu_link h(s.name),
			  bulk_update_issues_path(
			      :ids => @issue_ids,
		          :issue => {:sprint_id => s},
		          :back_url => @back),
		      :method => :post,
		      :selected => (@issue && s == @issue.sprint),
		      :disabled => !@can[:update] || s.is_locked
		  %>
	  </li>
	<% end %>
  </ul>
</li>
