<li class="folder">
  <a href="#" class="submenu">Sprint</a>
  <ul>
	<% 
	# Sprint.joins(:issues).where(project_id: @project.id,is_locked: false).uniq
	sprints = @issues.collect(&:sprint)
	   Sprint.where(project_id: @project.id)
	     .reject {|s| s.is_locked && !sprints.include?(s) }
	     .each do |s| %>
	  <li><%= context_menu_link h(s.name),
			  bulk_update_issues_path(
			      :ids => @issue_ids,
		          :issue => {:sprint_id => s},
		          :back_url => @back),
		      :method => :post,
		      :selected => sprints.include?(s),
		      :disabled => !@can[:update] ||
		                   s.is_locked || sprints.any?(&:is_locked)
		  %>
	  </li>
	<% end %>
  </ul>
</li>
