<%- if @project.module_enabled?(:scrum) -%>
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p>
        <%# Sprint.joins(:issues).where("sprints.id <> #{@issue.sprint_id}").where(project_id: @project.id,is_locked: false) %>
        <%- sprints = @issue.project.shared_sprints
                          .reject {|s| s.is_locked && @issue.sprint != s}
                          .collect {|s| [s.name, s.id]}
            options = options_for_select(sprints,
                :selected => @issue.sprint_id,
                :disabled => Sprint.all.select(&:is_locked).collect(&:id)) -%>
        <%= form.select :sprint_id, options, {:include_blank => true},
            {:disabled => @issue.sprint && @issue.sprint.is_locked} %>
      </p>
    </div>
    <%- if @issue.is_task? -%>
      <div class="splitcontentright">
        <p>
          <%= form.text_field :pending_effort, :size => 3 %>
        </p>
      </div>
    <%- end -%>
  </div>
<%- end -%>
